body {
	background-image: url("hands.gif");
	background-size: cover;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#page-container {
	margin: 3em;
	padding: 0;
	font-family: "URW Chancery L", cursive;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	height: calc(100vh - 6em);
	text-decoration: none;
	color: white;
}

#parent-left {
	width: 20vw;
}

#parent-right {
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    padding: 0;
    margin: 0;
}

.child-left {
	display: flex;
	font-size: 3em;
}

.child-left-small {
	display: flex;
	font-size: 1em;
}

.child-left-bottom {
	position: absolute;
	bottom: 3em;
	left: 3em;
}

.child-left-small-top {
	display: flex;
	font-size: 1.5em;
}

.child-right-text {
	display: flex;
	justify-content: center;
	font-size: 1em;
	font-family: Times, Times New Roman, serif;
	margin-bottom: 1.5em;
}

.child-right-bottom {
	display: flex;
	justify-content: flex-end;
	font-size: 1em;
	font-family: "URW Chancery L", cursive;
	margin: 1em;
	text-align: right;
}

.child-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    gap: 1em;
    padding: 0;
}

.pics {
    width: auto;
    height: auto;
    max-height: 100vh;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 1em;
    padding: 0;
    display: block;
}