body {
	background-image: url("hands.gif");
	background-size: cover;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	overflow: -moz-scrollbars-none;
}

#page-container {
	margin: 3em;
	padding: 0;
	font-family: "URW Chancery L", cursive;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
	height: calc(100vh - 6em);
	text-decoration: none;
	color: white;
}

#parent-left {
    width: 20vw;
    min-width: fit-content;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

#parent-right {
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    padding: 0;
    margin: 0;
    cursor: s-resize;
}

.child-left-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.child-left-small-top {
	font-size: 1.5em;
	margin: 0;
    align-self: flex-start;
}

.child-left {
	font-size: 4em;
	margin: 0;
    align-self: flex-start;
}

.child-left-small {
	font-size: 1em;
	margin: 0;
    align-self: flex-start;
}

.child-left-bottom {
    margin: 0;
    align-self: flex-start;
}

.child-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    padding: 0;
}

.img-container {
	height: 100%;
	width: auto;
	padding-right: 1em;
	object-fit: contain;
	padding-bottom: 1.5em;
}

.child-right-text {
	display: flex;
	justify-content: center;
	font-size: 1em;
	font-family: Times, Times New Roman, serif;
}

.pics {
    width: 100%;
    height: auto;
    border-radius: 2em;
    margin: 1em 0;
    padding: 0;
    display: block;
}

.child-right-bottom {
	display: flex;
	justify-content: flex-end;
	font-size: 1em;
	font-family: "URW Chancery L", cursive;
	margin: 1em;
	text-align: right;
	line-height: 1.5em;
}